<%- include('partials/header') %>


<img data-sizes="auto" data-src="https://images.greetingsisland.com/images/theme/featured-cards/banner/img-left-down@2x.png?auto=format,compress&amp;w=505" data-srcset="https://images.greetingsisland.com/images/theme/featured-cards/banner/img-left-down@2x.png?auto=format,compress 1016w,
https://images.greetingsisland.com/images/theme/featured-cards/banner/img-left-down@2x.png?auto=format,compress&amp;w=505 505w" height="400" width=100% class="fix-src lazyautosizes lazyloaded" alt="Invitation Maker" sizes="482px" srcset="https://images.greetingsisland.com/images/theme/featured-cards/banner/img-left-down@2x.png?auto=format,compress 1016w,
https://images.greetingsisland.com/images/theme/featured-cards/banner/img-left-down@2x.png?auto=format,compress&amp;w=505 505w" src="https://images.greetingsisland.com/images/theme/featured-cards/banner/img-left-down@2x.png?auto=format,compress&amp;w=505">


<div class="title">
<h1>The Black Envelope</h1>
<p>By creating a positive online experience, we hope more hosts will consider sending invitations electronically for formal events – to help save trees, time, and money. To express our commitment towards this goal, we donate a percentage of every sale to Mountains to Sound, a non-profit organization that maintains forests. Together we can "invite" a greener future.</p>
</div>




<%- include('partials/footer') %>
