<%- include('partials/header') %>

<style>
  body { background-color: #487eb0;}
</style>

<div class="signup-form">
  <h1>Sign In</h1>
  <form action="/login" method="POST">
    <input type="email" class="txtbtn" name="username" placeholder="Email Id">
    <input type="password" class="txtbtn" name="password" placeholder="Password">
    <button type="submit" class="signup-b">Login</button>
  </form>
</div>
 





<%- include('partials/footer') %>
