<%- include('partials/header') %>

<style>
  body { background-color: #487eb0;}
</style>



<div class="signup-form">
  <h1>Signup</h1>
  <form action="/register" method="post">
   
    <input type="text" name="firstname" required autocomplete="off" class="txtbtn" placeholder="FirstName">
    <input type="text" name="lastname" required autocomplete="off" class="txtbtn" placeholder="LastName">
    <input type="email" required autocomplete="off" name="username" class="txtbtn" placeholder="Email Id"> 
    <input type="password" required autocomplete="off" name="password" class="txtbtn" placeholder="password">
    <button type="submit" class="signup-b">Get started</button>
    <a href="/login">Already have an account?</a>

  </form>

</div>



</div>




<%- include('partials/footer') %>
